<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>P2P market</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<style>
    body {
        background: #000000;
        color: #eee;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
      .home-header {
        width: 100%;
        height: 130px;
        display: flex;
        max-width: var(--dl-size-size-maxwidth);
        align-items: center;
        padding-top: var(--dl-space-space-twounits);
        padding-left: var(--dl-space-space-threeunits);
        padding-right: var(--dl-space-space-threeunits);
        padding-bottom: var(--dl-space-space-twounits);
        justify-content: space-between;
      }
      .home-btn-group {
        display: right;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }

      .home-container1 {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: var(--dl-space-space-threeunits);
        justify-content: space-between;
      }
      .home-menu-close {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .home-main {
        flex: 0 0 auto;
        width: auto;
        height: auto;
        display: flex;
        align-self: center;
        align-items: center;
        justify-content: center;
      }
      .home-select {
        align-self: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        margin-bottom: 20px;
      }
      .home-select1 {
        align-self: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        margin-bottom: 20px;
      }
      .home-select2 {
        align-self: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        margin-bottom: 20px;
      }
      .home-select3 {
        align-self: center;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding-left: 20px;
        margin-bottom: 20px;
      }
      @media(max-width: 767px) {
        .home-header {
          padding-left: var(--dl-space-space-twounits);
          padding-right: var(--dl-space-space-twounits);
        }

      }
      @media(max-width: 479px) {
        .home-header {
          padding: var(--dl-space-space-unit);
        }
      }
        /* Блоки с фундаментальными показателями, описанием, ценовыми данными и графиками */
        .home-fundamentals{
            width: 300px;
            max-width: 300px;
            border: 1px solid #272624;
            margin: 0 auto; /* горизонтальные отступы равны "auto" */
        }
        #marketPrice {
            display: block;
            text-align: left;
            font-size: 20px;
            margin-top: 20px;
        }
        table.asksTable, table.bidsTable {
            border-collapse: separate;
            border-spacing: 2px;
            color: #FFFFFF;
        }
        
        table.asksTable td, table.asksTable th, table.bidsTable th, table.bidsTable td {
            text-align: center;
        }
        
        table.asksTable th:nth-of-type(1) {
            color: white;
        }
        
        table.asksTable thead,
        table.bidsTable thead {
            background-color: #000000;
        }
        
        .bidsTable thead {
            visibility: hidden;
        }
        table.asksTable a,
        table.bidsTable a {
            color: inherit; /* наследуем цвет текста от родительского элемента */
            text-decoration: none; /* добавляем подчеркивание для ссылок */
        }
        
        .asksTable td:first-child {
            color: red;
        }
        
        .bidsTable td:first-child {
            color: green;
        }
</style>
</head>
{% if user.is_authenticated %}
<body>
<div class="home-btn-group">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="button" type="submit">Logout</button>
    </form>
</div>
<div class="home-main">
    <span>Fiat</span>
    <select name="Fiat" required class="home-select">
        <option value="RUB">RUB</option>
        <option value="USD">USD</option>
        <option value="UZS">UZS</option>
        <option value="TRY">TRY</option>
        <option value="KGS">KGS</option>
        <option value="KZT">KZT</option>
        <option value="CNY">CNY</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="CHF">CHF</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="NZD">NZD</option>
        <option value="KWD">KWD</option>
    </select>
    <span>Trade Method</span>
    <select name="Trade Method" required class="home-select2"></select>
    <script>
        const fiatOptions = {
        RUB: [
            { value: "TinkoffNew", text: "Tinkoff" },
            { value: "RosBankNew", text: "Rosbank" },
            { value: "RaiffeisenBank", text: "RaiffeisenBank" },
            { value: "QIWI", text: "Qiwi" },
            { value: "BANK", text: "BANK" },
        ],
        USD: [
            { value: "Wise", text: "Wise" },
            { value: "Zelle", text: "Zelle" },
            { value: "WiseInstant", text: "Wise Instant" },
            { value: "AirTM", text: "AirTM" },
        ],
        UZS: [
            { value: "Humo", text: "Humo" },
            { value: "Uzcard", text: "Uzcard" },
            { value: "Anorbank", text: "Anorbank" },
            { value: "IpakYuliBank", text: "Ipak Yuli Bank" },
        ],
        TRY: [
            { value: "Ziraat", text: "Ziraat" },
            { value: "VakifBank", text: "VakifBank" },
            { value: "Garanti", text: "Garanti" },
            { value: "DenizBank", text: "Denizbank" },
            { value: "BANK", text: "BANK" },
        ],
        KGS: [
            { value: "mBank", text: "mBank" },
            { value: "OPTIMABANK", text: "Optima Bank" },
            { value: "DEMIRBANK", text: "DemirBank" },

        ],
        KZT: [
            { value: "KaspiBank", text: "Kaspi Bank" },
            { value: "HalykBank", text: "Halyk Bank" },
            { value: "JysanBank", text: "Jysan Bank" },
            { value: "BANK", text: "BANK" },
        ],
        EUR: [
            { value: "Wise", text: "Wise" },
            { value: "WiseInstant", text: "Wise Instant" },
            { value: "Revolut", text: "Revolut" },
            { value: "BANK", text: "BANK" },
        ],
        CNY: [
            { value: "ALIPAY", text: "Alipay" },
            { value: "WECHAT", text: "WeChat" },
            { value: "BANK", text: "BANK" },
        ],
        GBP: [
            { value: "Wise", text: "Wise" },
            { value: "WiseInstant", text: "Wise Instant" },
            { value: "Revolut", text: "Revolut" },
            { value: "BANK", text: "BANK" },
        ],
        JPY: [
            { value: "LINEPay", text: "LINE pay" },
            { value: "BANK", text: "BANK" },
        ],
        CHF: [
            { value: "FPS", text: "Instant Transfer" },
            { value: "Wise", text: "Wise" },
            { value: "BANK", text: "BANK" },
        ],
        CAD: [
            { value: "InteracETransfer", text: "Interac e-Transfer" },
            { value: "TDbank", text: "TD bank" },
            { value: "CIBCbank", text: "CIBC" },
            { value: "RBCRoyalbank", text: "RBC Royal bank" },
            { value: "BMObank", text: "BMO" },
            { value: "BANK", text: "BANK" },
        ],
        AUD: [
            { value: "Wise", text: "Wise" },
            { value: "Revolut", text: "Revolut" },
            { value: "OKSO", text: "OSKO" },
            { value: "BANK", text: "BANK" },
        ],
        NZD: [
            { value: "Wise", text: "Wise" },
            { value: "BANK", text: "BANK" },
        ],
        KWD: [
            { value: "KFH", text: "Kuwait Finance House" },
            { value: "BANK", text: "BANK" },
        ],
        };
        const fiatSelect = document.querySelector('select[name="Fiat"]');
        const tradeMethodSelect = document.querySelector(
        'select[name="Trade Method"]'
        );
        function updateTradeMethodOptions() {
        tradeMethodSelect.innerHTML = "";
        const selectedFiat = fiatSelect.value;
        const options = fiatOptions[selectedFiat];
        options.forEach((option) => {
            const optionElement = document.createElement("option");
            optionElement.value = option.value;
            optionElement.text = option.text;
            tradeMethodSelect.appendChild(optionElement);
        });
        }
        fiatSelect.addEventListener("change", () => {
        updateTradeMethodOptions();
        });
        updateTradeMethodOptions();
    </script>
    <span>Crypto</span>
    <br />
    </span>
    <select name="Crypto" required class="home-select1">
        <option value="USDT">USDT</option>
        <option value="BTC">BTC</option>
        <option value="BUSD">BUSD</option>
        <option value="ETH">ETH</option>
    </select>
</div>
<script>
    var urlBuy = '{% url "update_table" %}';
    var chart;
    function updateTable() {
        var fiat = $('select[name="Fiat"]').val();
        var pay = $('select[name="Trade Method"]').val();
        var crypto = $('select[name="Crypto"]').val();
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

        $.ajax({
            url: urlBuy,
            type: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {
                'fiat': fiat,
                'pay': pay,
                'type': 'BUY',
                'crypto': crypto,
            },
            success: function(data) {
                var asksTablebody = $('#asksTable tbody');
                asksTablebody.empty();
                var asks = {
                    price: [],
                    quant: [],
                    cumQuant: []
                };
                var cum = 0;
                for (var l = 0; l < data.ask.data.length; l++) {
                    asks.price.push(parseFloat(data.ask.data[l].adv.price));
                    asks.quant.push(parseFloat(data.ask.data[l].adv.tradableQuantity))
                    cum += parseFloat(data.ask.data[l].adv.tradableQuantity);
                    asks.cumQuant.push(parseFloat(cum.toFixed(2)));
                }
                var p = data.ask.data.length - 1;
                for (var i = data.ask.data.length - 1; i >= 0 && p > -1; i--) {
                    var row = $('<tr>');
                    row.append($('<td>').text(data.ask.data[i].adv.price));
                    row.append($('<td>').html('<a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo=' + data.ask.data[i].advertiser.userNo + '">' + data.ask.data[i].adv.tradableQuantity + '</a>'));
                    row.append($('<td>').text(asks.cumQuant[p]));
                    asksTablebody.append(row);
                    p -= 1;
                }
                var bidsTablebody = $('#bidsTable tbody');
                bidsTablebody.empty();
                var bids = {
                    price: [],
                    quant: [],
                    cumQuant: []
                };
                var sum = 0;
                for (var q = 0; q < data.bid.data.length; q++) {
                    var roww = $('<tr>');
                    roww.append($('<td>').text(data.bid.data[q].adv.price ));
                    roww.append($('<td>').html('<a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo=' + data.bid.data[q].advertiser.userNo + '">' + data.bid.data[q].adv.tradableQuantity + '</a>'));
                    sum += parseFloat(data.bid.data[q].adv.tradableQuantity);
                    roww.append($('<td>').text(sum.toFixed(2)));

                    bids.quant.push(parseFloat(data.bid.data[q].adv.tradableQuantity))
                    bids.price.push(parseFloat(data.bid.data[q].adv.price));
                    bids.cumQuant.push(parseFloat(sum.toFixed(2)));
                    
                    bidsTablebody.append(roww);
                }
                var finalCumQuant = asks.cumQuant.reverse().concat(bids.cumQuant);
                var finalPrices = asks.price.reverse().concat(bids.price);
                var cumulativeBidQuantity = 0;
                var cumulativeBidsData = [];
                for (var i = data.bid.data.length - 1; i >= 0; i--) {
                    cumulativeBidQuantity += parseFloat(data.bid.data[i].adv.tradableQuantity);
                    cumulativeBidsData.push([parseFloat(data.bid.data[i].adv.price), cumulativeBidQuantity]);
                }
                var cumulativeAskQuantity = 0;
                var cumulativeAsksData = [];
                for (var i = 0; i < data.ask.data.length; i++) {
                    cumulativeAskQuantity += parseFloat(data.ask.data[i].adv.tradableQuantity);
                    cumulativeAsksData.push([parseFloat(data.ask.data[i].adv.price), cumulativeAskQuantity]);
                }
                myBarChart.data.labels = finalPrices;
                myBarChart.data.datasets[0].data = finalCumQuant;
                myBarChart.data.datasets[0].data.map((currentValue, index, array) => {
                    array[index] = currentValue * -1;
                });
                myBarChart.options.scales.xAxes[0].ticks.callback = function(value, index, values) {
                    return value * -1;
                };
                myBarChart.update();
                var minAsk = asks.price.reverse()[0]
                var maxBid = bids.price[0]
                var midPrice = (minAsk + maxBid) / 2;
                var spread = parseFloat(maxBid-minAsk).toFixed(3)
                var marketPriceElement = $('#marketPrice');
                marketPriceElement.text(midPrice.toFixed(3) + " " + "Spread:  " + spread);

                var bid = [];
                for (var i = 0; i < data.bid.data.length; i++) {
                    var item = data.bid.data[i];
                    var obj = {
                    price: item.adv.price,
                    quantity: item.adv.tradableQuantity
                    };
                    bid.push(obj);
                }
                var ask = [];
                for (var i = 0; i < data.ask.data.length; i++) {
                    var item = data.ask.data[i];
                    var obj = {
                    price: item.adv.price,
                    quantity: item.adv.tradableQuantity
                    };
                    ask.push(obj);
                }
                var totalBidQuantity = cumulativeBidQuantity;
                var totalAskQuantity = cumulativeAskQuantity;
                var bidPercentage = (totalBidQuantity / (totalBidQuantity + totalAskQuantity)) * 100;
                var askPercentage = (totalAskQuantity / (totalBidQuantity + totalAskQuantity)) * 100;
                marketChart.data.datasets[0].data = [];
                marketChart.update();
                marketChart.data.datasets[0].data.push(bidPercentage, askPercentage);
                marketChart.update();
                const homeFundamentals = document.querySelector('.home-fundamentals');
                const height = homeFundamentals.offsetHeight;
                const canvas = document.getElementById('vol');
                canvas.height = height;
            }
        });
    };
    
    $(document).ready(function() {
        setInterval(updateTable, 3000);
    });
</script>
<table style="display: flex;">
    <td style="flex: 1;"><canvas id="vol" style="display: flex; width: 300px; align-self: stretch;"></canvas></td>
    <td style="flex: 1;"><div class="home-fundamentals">      
        <table class="asksTable" id="asksTable">
            <thead>
            <tr>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Quantity</th>
            </tr>
            </thead>
            <tbody>
                {% for item in ask.data reversed %}
                    <tr>
                    <td>{{ item.adv.price }}</td>
                    <td><a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo={{ item.advertiser.userNo }}">{{ item.adv.tradableQuantity }}</a></td>
                    <td>⟲</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <span id="marketPrice">⟲</span>
            <table class="bidsTable" id='bidsTable'>
                <thead>
                <tr>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for item in bid.data %}
                <tr>
                    <td>{{ item.adv.price }}</td>
                    <td><a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo={{ item.advertiser.userNo }}">{{ item.adv.tradableQuantity }}</a></td>
                    <td>⟲</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </td>
    <td style="flex: 1;"  colspan="2">
        <div class="tradingview-widget-container" style="width: 100%;">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
        {
        "width": "735",
        "height": "600",
        "symbolsGroups": [
            {
            "name": "Crypto",
            "originalName": "Indices",
            "symbols": [
                {
                "name": "BINANCE:BTCUSDT",
                "displayName": "Bitcoin"
                },
                {
                "name": "BINANCE:ETHUSDT",
                "displayName": "Ethereum"
                },
                {
                "name": "BINANCEUS:USDTUSD",
                "displayName": "Tether"
                },
                {
                "name": "BINANCE:BUSDUSDT",
                "displayName": "Binance USD"
                },
                {
                "name": "CRYPTOCAP:BTC",
                "displayName": "BTC Marketcap"
                },
                {
                "name": "BINANCE:USDTRUB",
                "displayName": "USDT/RUB"
                }
            ]
            },
            {
            "name": "Forex",
            "originalName": "Forex",
            "symbols": [
                {
                "name": "FX:EURUSD",
                "displayName": "EUR/USD"
                },
                {
                "name": "FX:GBPUSD",
                "displayName": "GBP/USD"
                },
                {
                "name": "FX:USDJPY",
                "displayName": "USD/JPY"
                },
                {
                "name": "FX:USDCHF",
                "displayName": "USD/CHF"
                },
                {
                "name": "FX:AUDUSD",
                "displayName": "AUD/USD"
                },
                {
                "name": "FX:USDCAD",
                "displayName": "USD/CAD"
                },
                {
                "name": "FX_IDC:USDKGS",
                "displayName": "USD/KGS"
                },
                {
                "name": "FX_IDC:USDUZS",
                "displayName": "USD/UZS"
                },
                {
                "name": "FX_IDC:USDKZT",
                "displayName": "USD/KZT"
                },
                {
                "name": "FOREXCOM:USDTRY",
                "displayName": "USD/TRY"
                },
                {
                "name": "FX_IDC:CNYUSD",
                "displayName": "CNY/USD"
                },
                {
                "name": "USD/FX_IDC:JPYUSD",
                "displayName": "JPY/USD"
                },

                {
                "name": "FX:NZDUSD",
                "displayName": "NZD/USD"
                }
            ]
            }
        ],
        "showSymbolLogo": false,
        "colorTheme": "dark",
        "isTransparent": true,
        "locale": "en"
        }
        </script>
        </div>
    </td>
</table>
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "USDT/RUB",
        "proName": "BINANCE:USDTRUB"
      },
      {
        "description": "GBP/USD",
        "proName": "FX:GBPUSD"
      },
      {
        "description": "USD/JPY",
        "proName": "FX:USDJPY"
      },
      {
        "description": "USD/TRY",
        "proName": "FX:USDTRY"
      },
      {
        "description": "USD/KGS",
        "proName": "FX_IDC:USDKGS"
      },
      {
        "description": "USD/KZT",
        "proName": "FX_IDC:USDKZT"
      },
      {
        "description": "USD/RUB MOEX",
        "proName": "MOEX:USDRUB_TOM"
      }
    ],
    "showSymbolLogo": false,
    "colorTheme": "dark",
    "isTransparent": true,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
<table style="display: flex; width: 100%;">
    <td style="flex: 1;" id='tradingview_57a7c'>
        <div class="tradingview-widget-container">
            <div id="tradingview_57a7c"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget(
            {
            "width": 980,
            "height": 610,
            "symbol": "BTCUSDT",
            "interval": "D",
            "timezone": "Europe/Moscow",
            "theme": "dark",
            "style": "1",
            "locale": "en",
            "toolbar_bg": "#f1f3f6",
            "enable_publishing": false,
            "withdateranges": true,
            "hide_side_toolbar": false,
            "allow_symbol_change": true,
            "watchlist": [
            "BINANCE:BTCUSDT",
            "BINANCE:ETHUSDT",
            "BINANCE:BUSDUSDT",
            "BINANCEUS:USDTUSD"
            ],
            "details": true,
            "container_id": "tradingview_57a7c"
        }
            );
            </script>
        </div>
    </td>
    <td style="flex: 1;">
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div class="tradingview-widget-container__widget"></div>
            <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-events.js" async>
            {
            "colorTheme": "dark",
            "isTransparent": true,
            "width": "330",
            "height": "610",
            "locale": "en",
            "importanceFilter": "0,1"
        }
            </script>
        </div>
        <!-- TradingView Widget END -->
    </td>
</table>
<script>
    if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
        var tradingViewWidget = document.getElementById('tradingview_57a7c');
        if (tradingViewWidget) {
        tradingViewWidget.style.display = 'none';
        } else {
        console.log('Widget not found!');
        }
    }
</script>
<script>
    const homeFundamentals = document.querySelector('.home-fundamentals');
    const height = homeFundamentals.offsetHeight - 20;
    const canvas = document.getElementById('vol');
    canvas.height = height;
</script>
</table>
<div style="display: flex; justify-content: center;">
    <canvas id="marketChart"></canvas>
    <script>
        var bid = [
        {% for item in bid.data %}
        { price: {{ item.adv.price }}, quantity: {{ item.adv.tradableQuantity }} },
        {% endfor %}
        ];
        var ask = [
        {% for item in ask.data  %}
        { price: {{ item.adv.price }}, quantity: {{ item.adv.tradableQuantity }} },
        {% endfor %}
        ];
        var askReversed = [
        {% for item in ask.data reversed  %}
        { price: {{ item.adv.price }}, quantity: {{ item.adv.tradableQuantity }} },
        {% endfor %}
        ];
        var merged = askReversed.concat(bid);
        var bidQuantities = bid.map(function(item) { return item.quantity; }).reduce(function(acc, val) { return acc.concat(acc.length ? val + acc[acc.length - 1] : val); }, []);
        var askQuantities = ask.map(function(item) { return item.quantity; }).reduce(function(acc, val) { return acc.concat(acc.length ? val + acc[acc.length - 1] : val); }, []);
        var totalBidQuantity = bidQuantities.reduce(function(acc, val) { return acc + val; }, 0);
        var totalAskQuantity = askQuantities.reduce(function(acc, val) { return acc + val; }, 0);
        var bidPercentage = (totalBidQuantity / (totalBidQuantity + totalAskQuantity)) * 100;
        var askPercentage = (totalAskQuantity / (totalBidQuantity + totalAskQuantity)) * 100;
        var ctx = document.getElementById('marketChart').getContext('2d');
        var marketChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Demand', 'Supply'],
            datasets: [{
            label: 'Market',
            data: [bidPercentage, askPercentage], 
            backgroundColor: ['#00f449', '#ff6384'] 
            }]
        },
        options: {
            responsive: false, 
            animation: {
            duration: 0, 
            easing: 'linear',
            }
        }
        });
    </script>
  </div>
    <script>
        var prices = merged.map(function(obj){
            return obj.price;
        });
        var quants = merged.map(function(obj){
            return obj.quantity;
        });
        var data = {
            labels: prices,
            datasets: [{
            label: "Market Depth",
            backgroundColor: '#ffa500', 
            borderWidth: 1,
            data: quants,
            yAxisID: "bar-y-axis1"
            }]
        };
        data.datasets[0].data.map((currentValue, index, array) => {
            array[index] = currentValue * -1;
        });
        var options = {
            tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                var label = data.datasets[tooltipItem.datasetIndex].label || '';
        
                if (label) {
                    label += ': ';
                }
                label += tooltipItem.xLabel * -1;
                return label;
                }
            }
            },
            scales: {
            yAxes: [{
                id: "bar-y-axis1",
                display: false,
                categoryPercentage: 0.5,
                barPercentage: 0.5,
                position: 'right' 
            }],
            xAxes: [{
                id: "bar-x-axis1",
                display: false,
                stacked: false,
                ticks: {
                callback: function(value, index, values) {
                    return value * -1; 
                },
                beginAtZero: false
                }
            }]
            }
        };
        var ctx = document.getElementById("vol").getContext("2d");
        var myBarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: options
        });
    </script>
</body>
{% else %}
    <div style='display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;'><style>body {background-color: #333;color: #FFA500;}a {color: #FFA500;}</style><title>Oops...</title><h1>Access Forbidden</h1><p>Hello! If you want to login to your profile, please go to the login page, which you can find at the following link. There you can enter your username and password to access your profile. If you encounter any issues with logging in, please contact our support team. Thank you!</p><p><a href='/' style='text-align:center;'>Login</a></p></div>
    <meta http-equiv="refresh" content="5; url=/">
{% endif %}
</html>