{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/contact.css' %}">

<div class="wrap">
    <div class="profile">
      <span class="profile_name">Contact</span>
    </div>
    <div class="links">
      <ul>
        <li><a href="https://t.me/otliq" class="link"><i class="fab fa-telegram"></i> Telegram</a></li>
        <li><a href="/" class="link"><i class="fab fa-website"></i> Platforma</a></li>
      </ul>
      <div class="card">
        <p>If you need any help or have suggestions, feel free to contact me.</p>
      </div>
    </div>
  </div>