{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Platforma</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
  <link rel="stylesheet" href="{% static 'assets/css/terminal.css' %}">
</head>
{% if user.is_authenticated %}
<body>
<div class="home-btn-group">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <button class="button" type="submit">Logout</button>
    </form>
  <p style="display: flex;">Welcome, {{ user.username }}!</p>
  <input type="checkbox" id="myCheckbox" onchange="toggleInfo()" style="display: flex;">
  <label for="myCheckbox">Desktop</label>
</div>
<div class="home-main">
    <span>Fiat</span>
    <select name="Fiat" required class="home-select">
        <option value="USD">USD</option>
        <option value="RUB">RUB</option>
        <option value="UZS">UZS</option>
        <option value="TRY">TRY</option>
        <option value="KGS">KGS</option>
        <option value="KZT">KZT</option>
        <option value="CNY">CNY</option>
        <option value="GBP">GBP</option>
        <option value="JPY">JPY</option>
        <option value="CHF">CHF</option>
        <option value="CAD">CAD</option>
        <option value="AUD">AUD</option>
        <option value="NZD">NZD</option>
    </select>
    <span>Trade Method</span>
    <select name="Trade Method" required class="home-select2"></select>
    <script src="{% static "assets/js/terminal.js" %}"></script>
    <span>Crypto</span>
    <br />
    </span>
    <select name="Crypto" required class="home-select1">
        <option value="USDT">USDT</option>
        <option value="BTC">BTC</option>
        <option value="BUSD">BUSD</option>
        <option value="ETH">ETH</option>
    </select>
</div>
<script>
    var urlBuy = '{% url "update_table" %}';
    var chart;
    function updateTable() {
        var fiat = $('select[name="Fiat"]').val();
        var pay = $('select[name="Trade Method"]').val();
        var crypto = $('select[name="Crypto"]').val();
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            url: urlBuy,
            type: 'POST',
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: {
                'fiat': fiat,
                'pay': pay,
                'type': 'BUY',
                'crypto': crypto,
            },
            success: function(data) {
                if (data && data.hasOwnProperty('gasks')) {
                    // Garantex asks data
                    const gasks = data.gasks;
                    var garantex_asks_cum = {
                        cumQuant: [],
                        price: [],
                    };
                    var cum = 0;
                    for (var l = 0; l < data.gasks.length; l++) {
                        cum += parseFloat(data.gasks[l].volume);
                        garantex_asks_cum.cumQuant.push(parseFloat(cum.toFixed(2)));
                        garantex_asks_cum.price.push(parseFloat(data.gasks[l].price));

                    }
                    // Garantex bids data
                    const gbids = data.gbids;
                    var garantex_bids_cum = {
                        cumQuant: [],
                        price: [],
                    };
                    var cum = 0;
                    for (var l = 0; l < data.gbids.length; l++) {
                        cum += parseFloat(data.gbids[l].volume);
                        garantex_bids_cum.cumQuant.push(parseFloat(cum.toFixed(2)));
                        garantex_bids_cum.price.push(parseFloat(data.gbids[l].price));
                    }
                    
                    // Garantex asks table 
                    var gasksTablebody = $('#GasksTable tbody');
                    gasksTablebody.empty();
                    var s = data.gasks.length - 1;
                    var cum = 0;
                    for (var f = data.gasks.length -1;f >=0 && s >-1; f--) {
                        var grow = $('<tr>');
                        grow.append($('<td>').text(parseFloat(data.gasks[f].price)));
                        // grow.append($('<td>').text(parseFloat(data.gasks[f].volume)));
                        grow.append($('<td>').html('<a href="https://garantex.org/trading/' + data.link + '">' + data.gasks[f].volume + '</a>'));
                        grow.append($('<td>').text(garantex_asks_cum.cumQuant[s].toFixed(2)));
                        gasksTablebody.append(grow);
                        s -= 1;
                    }
                    // Garantex bids table 
                    var gbidsTablebody = $('#GbidsTable tbody');
                    gbidsTablebody.empty();
                    var cum = 0;
                    for (var x = 0; x < data.gbids.length; x++) {
                        var grow2 = $('<tr>');
                        grow2.append($('<td>').text(data.gbids[x].price));
                        grow2.append($('<td>').html('<a href="https://garantex.org/trading/' + data.link + '">' + data.gbids[x].volume + '</a>'));
                        // grow2.append($('<td>').text(data.gbids[x].volume));
                        cum += parseFloat(data.gbids[x].volume);
                        grow2.append($('<td>').text(cum.toFixed(2)));
                        gbidsTablebody.append(grow2);
                    }
                }
                // Huobi asks table
                var hasksTablebody = $('#hasksTable tbody');
                hasksTablebody.empty();
                var hasks = {
                    price: [],
                    quant: [],
                    cumQuant: []
                };
                var cum = 0;
                for (var l = 0; l < data.hasks.length; l++) {
                    hasks.price.push(parseFloat(data.hasks[l].price));
                    hasks.quant.push(parseFloat(data.hasks[l].tradeCount));
                    cum += parseFloat(data.hasks[l].tradeCount);
                    hasks.cumQuant.push(parseFloat(cum.toFixed(2)));
                }
                var h = data.hasks.length - 1;
                for (var i = data.hasks.length - 1; i >= 0 && h > -1; i--) {
                    var hrow = $('<tr>');
                    hrow.append($('<td>').text(data.hasks[i].price));
                    hrow.append($('<td>').html('<a href="https://www.huobi.com/ru-ru/fiat-crypto/trader/' + data.hasks[i].uid + '">' + data.hasks[i].tradeCount + '</a>'));
                    hrow.append($('<td>').text(hasks.cumQuant[h]));
                    hasksTablebody.append(hrow);
                    h -= 1;
                } 

                // Huobi bids table 
                var hbidsTablebody = $('#hbidsTable tbody');
                hbidsTablebody.empty();
                var hbids = {
                    price: [],
                    quant: [],
                    cumQuant: []
                };
                var cum = 0;
                for (var q = 0; q < data.hbids.length; q++) {
                    var hroww = $('<tr>');
                    hroww.append($('<td>').text(data.hbids[q].price ));
                    hroww.append($('<td>').html('<a href="https://www.huobi.com/ru-ru/fiat-crypto/trader/' + data.hbids[q].uid + '">' + data.hbids[q].tradeCount + '</a>'));
                    cum += parseFloat(data.hbids[q].tradeCount);
                    hroww.append($('<td>').text(cum.toFixed(2)));

                    hbids.quant.push(parseFloat(data.hbids[q].tradeCount));
                    hbids.price.push(parseFloat(data.hbids[q].price));
                    hbids.cumQuant.push(parseFloat(cum.toFixed(2)));
                    
                    hbidsTablebody.append(hroww);
                }
                // Huobi market depth 
                var hfinalCumQuant = hasks.cumQuant.reverse().concat(hbids.cumQuant);
                var hfinalPrices = hasks.price.reverse().concat(hbids.price);
                //Huobi market depth update
                myBarChart3.data.labels = hfinalPrices;
                myBarChart3.data.datasets[0].data = hfinalCumQuant;
                myBarChart3.data.datasets[0].data.map((currentValue, index, array) => {
                    array[index] = currentValue * -1;
                });
                myBarChart3.options.scales.xAxes[0].ticks.callback = function(value, index, values) {
                    return value * -1;
                };
                myBarChart3.update();


                // Binance asks table 
                var asksTablebody = $('#asksTable tbody');
                asksTablebody.empty();
                var asks = {
                    price: [],
                    quant: [],
                    cumQuant: []
                };
                var cum = 0;
                for (var l = 0; l < data.ask.data.length; l++) {
                    asks.price.push(parseFloat(data.ask.data[l].adv.price));
                    asks.quant.push(parseFloat(data.ask.data[l].adv.tradableQuantity));
                    cum += parseFloat(data.ask.data[l].adv.tradableQuantity);
                    asks.cumQuant.push(parseFloat(cum.toFixed(2)));
                }
                var p = data.ask.data.length - 1;
                for (var i = data.ask.data.length - 1; i >= 0 && p > -1; i--) {
                    var row = $('<tr>');
                    row.append($('<td>').text(data.ask.data[i].adv.price));
                    row.append($('<td>').html('<a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo=' + data.ask.data[i].advertiser.userNo + '">' + data.ask.data[i].adv.tradableQuantity + '</a>'));
                    row.append($('<td>').text(asks.cumQuant[p]));
                    asksTablebody.append(row);
                    p -= 1;
                }
                // Binance bids table 
                var bidsTablebody = $('#bidsTable tbody');
                bidsTablebody.empty();
                var bids = {
                    price: [],
                    quant: [],
                    cumQuant: []
                };
                var cum = 0;
                for (var q = 0; q < data.bid.data.length; q++) {
                    var roww = $('<tr>');
                    roww.append($('<td>').text(data.bid.data[q].adv.price));
                    roww.append($('<td>').html('<a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo=' + data.bid.data[q].advertiser.userNo + '">' + data.bid.data[q].adv.tradableQuantity + '</a>'));
                    cum += parseFloat(data.bid.data[q].adv.tradableQuantity);
                    roww.append($('<td>').text(cum.toFixed(2)));

                    bids.quant.push(parseFloat(data.bid.data[q].adv.tradableQuantity));
                    bids.price.push(parseFloat(data.bid.data[q].adv.price));
                    bids.cumQuant.push(parseFloat(cum.toFixed(2)));
                    
                    bidsTablebody.append(roww);
                }
                // Binance market depth 
                var finalCumQuant = asks.cumQuant.reverse().concat(bids.cumQuant);
                var finalPrices = asks.price.reverse().concat(bids.price);
                if (data && data.hasOwnProperty('gasks')) {
                    // Garantex market depth 
                    var finalCumQuantG =garantex_asks_cum.cumQuant.reverse().concat(garantex_bids_cum.cumQuant);
                    var finalPricesG = garantex_asks_cum.price.reverse().concat(garantex_bids_cum.price);
                }

                //Binance market depth update
                myBarChart.data.labels = finalPrices;
                myBarChart.data.datasets[0].data = finalCumQuant;
                myBarChart.data.datasets[0].data.map((currentValue, index, array) => {
                    array[index] = currentValue * -1;
                });
                myBarChart.options.scales.xAxes[0].ticks.callback = function(value, index, values) {
                    return value * -1;
                };
                myBarChart.update();

                if (data && data.hasOwnProperty('gasks')) {
                    //Garantex market depth update
                    myBarChart2.data.labels = finalPricesG;
                    myBarChart2.data.datasets[0].data = finalCumQuantG;
                    myBarChart2.data.datasets[0].data.map((currentValue, index, array) => {
                        array[index] = currentValue * 1;
                    });
                    myBarChart2.options.scales.xAxes[0].ticks.callback = function(value, index, values) {
                        return value * 1;
                    };
                    myBarChart2.update();    
                }
                
                // Market price and Spread Binance
                var minAsk = asks.price.reverse()[0];
                var maxBid = bids.price[0];
                var midPrice = (minAsk + maxBid) / 2;
                var spread = parseFloat(maxBid-minAsk).toFixed(3);

                // Huobi
                var huobi_minAsk = hasks.price.reverse()[0];
                var huobi_maxBid = hbids.price[0];
                var huobi_midPrice = (huobi_minAsk + huobi_maxBid)/2;
                var huobi_spread = parseFloat(huobi_maxBid - huobi_minAsk).toFixed(3);

                var marketPriceElement3 = $('#marketPrice3');
                marketPriceElement3.text(huobi_midPrice.toFixed(3) + " " + "Spread:  " + huobi_spread);

                var marketPriceElement = $('#marketPrice');
                if (data && data.hasOwnProperty('gasks')) {
                    var minAskG = garantex_asks_cum.price.reverse()[0];
                    var maxBidG = garantex_bids_cum.price[0];
                    var buyBinance = maxBidG - minAsk;

                    marketPriceElement.text(midPrice.toFixed(3) + " " + "Spread:  " + spread);

                    // Market price and Spread Garantex
                    var midPriceG = (minAskG + maxBidG) / 2;
                    var spreadG = parseFloat(maxBidG-minAskG).toFixed(3);

                    var marketPriceElementG = $('#marketPrice2');
                    var buyGarantex = maxBid - minAskG;
                    marketPriceElementG.text(midPriceG.toFixed(3) + " " + "Spread:  " + spreadG);

                    // Получаем таблицу по ID
                    var table = document.getElementById('CrossRatesTable');

                    // Получаем строки таблицы
                    var rows = table.getElementsByTagName('tr');
                    rows[1].getElementsByTagName('td')[3].innerHTML = buyBinance.toFixed(3).toString();
                    rows[2].getElementsByTagName('td')[3].innerHTML = (maxBidG - huobi_minAsk).toFixed(3).toString();
                    rows[3].getElementsByTagName('td')[1].innerHTML = buyGarantex.toFixed(3).toString();
                    rows[3].getElementsByTagName('td')[2].innerHTML = (huobi_maxBid-minAskG).toFixed(3).toString();
                    rows[3].getElementsByTagName('td')[3].innerHTML = spreadG.toString();
                } else{
                    marketPriceElement.text(midPrice.toFixed(3) + " " + "Spread:  " + spread);
                    marketPriceElement3.text(huobi_midPrice.toFixed(3) + " " + "Spread:  " + huobi_spread);
                }

                // Получаем таблицу по ID
                var table = document.getElementById('CrossRatesTable');

                // Получаем строки таблицы
                var rows = table.getElementsByTagName('tr');

                // Обновляем ячейки
                rows[1].getElementsByTagName('td')[1].innerHTML = spread.toString();
                rows[1].getElementsByTagName('td')[2].innerHTML = (huobi_maxBid - minAsk).toFixed(3).toString();
                // rows[1].getElementsByTagName('td')[3].innerHTML = 'new B:G';
                rows[2].getElementsByTagName('td')[1].innerHTML = (maxBid - huobi_minAsk).toFixed(3).toString();
                rows[2].getElementsByTagName('td')[2].innerHTML = huobi_spread.toString();
                // rows[2].getElementsByTagName('td')[3].innerHTML = 'new H:G';
                // rows[3].getElementsByTagName('td')[1].innerHTML = 'new G:B';
                // rows[3].getElementsByTagName('td')[2].innerHTML = 'new G:H';
                // rows[3].getElementsByTagName('td')[3].innerHTML = 'new G:G';
            }
        });
    };
    
    $(document).ready(function() {
        setInterval(updateTable, 4000);
    });
</script>
<table style="display: flex; width: 100%; height:100%;">
    <td style="flex: 1;"><canvas id="vol" style="display: flex; width: 300px; align-self: stretch;"></canvas></td>
    <td style="flex: 1;"><div class="home-fundamentals">      
        <table class="asksTable" id="asksTable">
            <thead>
            <tr>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Quantity</th>
            </tr>
            </thead>
            <tbody>
                {% for item in ask.data reversed %}
                    <tr>
                    <td>{{ item.adv.price }}</td>
                    <td><a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo={{ item.advertiser.userNo }}">{{ item.adv.tradableQuantity }}</a></td>
                    <td>⟲</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <span id="marketPrice">⟲</span>
            <table class="bidsTable" id='bidsTable'>
                <thead>
                <tr>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for item in bid.data %}
                <tr>
                    <td>{{ item.adv.price }}</td>
                    <td><a href="https://p2p.binance.com/en/advertiserDetail?advertiserNo={{ item.advertiser.userNo }}">{{ item.adv.tradableQuantity }}</a></td>
                    <td>⟲</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </td>
    <td style="flex: 1;"><div class="home-fundamentals">      
        <table class="asksTable" id="GasksTable">
            <thead>
            <tr>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Quantity</th>
            </tr>
            </thead>
            <tbody>
                {% for item in gasks reversed %}
                <tr>
                    <td>{{ item.price }}</td>
                    <td>{{ item.volume }}</td>
                    <td>⟲</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <span id="marketPrice2">⟲</span>
            <table class="bidsTable" id='GbidsTable'>
                <thead>
                <tr>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for item in gbids %}
                <tr>
                    <td>{{ item.price }}</td>
                    <td>{{ item.volume }}</td>
                    <td>⟲</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </td>
    <td style="flex: 1;"><canvas id="vol2" style="display: flex; width: 300px; align-self: stretch;"></canvas></td>
</table>
<table style="display: flex; width: 100%; height:100%;">
    <td style="flex: 1;"><canvas id="vol3" style="display: flex; width: 300px; align-self: stretch;"></canvas></td>
    <td style="flex: 1;"><div class="home-fundamentals">      
        <table class="asksTable" id="hasksTable">
            <thead>
            <tr>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Quantity</th>
            </tr>
            </thead>
            <tbody>
                {% for item in hasks reversed %}
                <tr>
                    <td>{{ item.price }}</td>
                    <td><a href="https://www.huobi.com/ru-ru/fiat-crypto/trader/{{ item.uid }}">{{ item.tradeCount }}</a></td>
                    <td>⟲</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <span id="marketPrice3">⟲</span>
            <table class="bidsTable" id='hbidsTable'>
                <thead>
                <tr>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total Quantity</th>
                </tr>
                </thead>
                <tbody>
                {% for item in hbids %}
                <tr>
                    <td>{{ item.price }}</td>
                    <td><a href="https://www.huobi.com/ru-ru/fiat-crypto/trader/{{ item.uid }}">{{ item.tradeCount }}</a></td>
                    <td>⟲</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
    </td>
    <td style="flex: 1;"><div class="home-fundamentals">
    <table class="bidsTable" id='CrossRatesTable'>
        <tbody>
            <tr>
                <td></td>
                <td style="color: red;">Binance</td>
                <td style="color: red;">Huobi</td>
                <td style="color: red;">Garantex</td>
            </tr>
            <tr>
                <td>Binance</td>
                <td>B:B</td>
                <td>B:H</td>
                <td>B:G</td>
            </tr>
            <tr>
                <td>Huobi</td>
                <td>H:B</td>
                <td>H:H</td>
                <td>H:G</td>
            </tr>
            <tr>
                <td>Garantex</td>
                <td>G:B</td>
                <td>G:H</td>
                <td>G:G</td>
            </tr>
        </tbody>
    </table>
</table>
<script>
    const homeFundamentals = document.querySelector('.home-fundamentals');
    const height = homeFundamentals.offsetHeight;
    const canvas = document.getElementById('vol');
    const canvas2 = document.getElementById('vol2');
    const canvas3 = document.getElementById('vol3');
    canvas.height = height;
    canvas2.height = height;
    canvas3.height = height;
</script>
</table>
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
    {
    "symbols": [
      {
        "proName": "FX_IDC:EURUSD",
        "title": "EUR/USD"
      },
      {
        "proName": "BITSTAMP:BTCUSD",
        "title": "Bitcoin"
      },
      {
        "proName": "BITSTAMP:ETHUSD",
        "title": "Ethereum"
      },
      {
        "description": "USDT/RUB",
        "proName": "BINANCE:USDTRUB"
      },
      {
        "description": "GBP/USD",
        "proName": "FX:GBPUSD"
      },
      {
        "description": "USD/JPY",
        "proName": "FX:USDJPY"
      },
      {
        "description": "USD/TRY",
        "proName": "FX:USDTRY"
      },
      {
        "description": "USD/KGS",
        "proName": "FX_IDC:USDKGS"
      },
      {
        "description": "USD/KZT",
        "proName": "FX_IDC:USDKZT"
      },
      {
        "description": "USD/RUB MOEX",
        "proName": "MOEX:USDRUB_TOM"
      }
    ],
    "showSymbolLogo": false,
    "colorTheme": "dark",
    "isTransparent": true,
    "displayMode": "adaptive",
    "locale": "en"
  }
    </script>
  </div>
  <div id="Charts">
    <div class="tradingview-widget-container">
      <div id="tradingview_209a7"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text"></span></a></div>
      <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
      <script type="text/javascript">
      new TradingView.widget(
      {
      "width": 980,
      "height": 610,
      "symbol": "BINANCE:BTCUSDT",
      "interval": "D",
      "timezone": "Etc/UTC",
      "theme": "dark",
      "style": "1",
      "locale": "en",
      "toolbar_bg": "#f1f3f6",
      "enable_publishing": true,
      "withdateranges": true,
      "hide_side_toolbar": false,
      "allow_symbol_change": true,
      "details": true,
      "calendar": true,
      "container_id": "tradingview_209a7"
    }
      );
      </script>
    </div>
  </div>
    <script>
        var bid = [
            {% for item in bid.data %}
            { price: {{ item.adv.price }}, quantity: {{ item.adv.tradableQuantity }} },
            {% endfor %}
        ];
        var ask = [
            {% for item in ask.data  %}
            { price: {{ item.adv.price }}, quantity: {{ item.adv.tradableQuantity }} },
            {% endfor %}
        ];
        var askReversed = [
            {% for item in ask.data reversed  %}
            { price: {{ item.adv.price }}, quantity: {{ item.adv.tradableQuantity }} },
            {% endfor %}
        ];
        var merged = askReversed.concat(bid);
        var prices = merged.map(function(obj){
            return obj.price;
        });
        var quants = merged.map(function(obj){
            return obj.quantity;
        });
        var data = {
            labels: prices,
            datasets: [{
            label: "Binance Market Depth",
            backgroundColor: '#ffa500', 
            borderWidth: 1,
            data: quants,
            yAxisID: "bar-y-axis1"
            }]
        };
        var data2 = {
            labels: prices,
            datasets: [{
            label: "Huobi Market Depth",
            backgroundColor: '#2986cc', 
            borderWidth: 1,
            data: quants,
            yAxisID: "bar-y-axis1"
            }]
        };
        data.datasets[0].data.map((currentValue, index, array) => {
            array[index] = currentValue * -1;
        });
        var options = {
            tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                var label = data.datasets[tooltipItem.datasetIndex].label || '';
        
                if (label) {
                    label += ': ';
                }
                label += tooltipItem.xLabel * -1;
                return label;
                }
            }
            },
            scales: {
            yAxes: [{
                id: "bar-y-axis1",
                display: false,
                categoryPercentage: 0.5,
                barPercentage: 0.5,
                position: 'right' 
            }],
            xAxes: [{
                id: "bar-x-axis1",
                display: false,
                stacked: false,
                ticks: {
                callback: function(value, index, values) {
                    return value * -1; 
                },
                beginAtZero: false
                }
            }]
            }
        };
        var ctx = document.getElementById("vol").getContext("2d");
        var myBarChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: options
        });
        var btx = document.getElementById('vol3').getContext('2d');
        var myBarChart3 = new Chart(btx, {
            type: 'horizontalBar',
            data:data2,
            options:options
        });
    </script>
    <script>
        var prices = merged.map(function(obj){
            return obj.price;
        });
        var quants = merged.map(function(obj){
            return obj.quantity;
        });
        var data = {
            labels: prices,
            datasets: [{
            label: "Garantex Market Depth",
            backgroundColor: '#40ff00', 
            borderWidth: 1,
            data: quants,
            yAxisID: "bar-y-axis1"
            }]
        };
        data.datasets[0].data.map((currentValue, index, array) => {
            array[index] = currentValue * 1;
        });
        var options = {
            tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                var label = data.datasets[tooltipItem.datasetIndex].label || '';
        
                if (label) {
                    label += ': ';
                }
                label += tooltipItem.xLabel * 1;
                return label;
                }
            }
            },
            scales: {
            yAxes: [{
                id: "bar-y-axis1",
                display: false,
                categoryPercentage: 0.5,
                barPercentage: 0.5,
                position: 'right' 
            }],
            xAxes: [{
                id: "bar-x-axis1",
                display: false,
                stacked: false,
                ticks: {
                callback: function(value, index, values) {
                    return value * 1; 
                },
                beginAtZero: false
                }
            }]
            }
        };
        var ctx = document.getElementById("vol2").getContext("2d");
        var myBarChart2 = new Chart(ctx, {
            type: 'horizontalBar',
            data: data,
            options: options
        });
    </script>

</body>
{% else %}
    <div style='display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%;'><style>body {background-color: #333;color: #FFA500;}a {color: #FFA500;}</style><title>Oops...</title><h1>Access Forbidden</h1><p>Hello! If you want to login to your profile, please go to the login page, which you can find at the following link. There you can enter your username and password to access your profile. If you encounter any issues with logging in, please contact our support team. Thank you!</p><p><a href='/' style='text-align:center;'>Login</a></p></div>
    <meta http-equiv="refresh" content="5; url=/">
{% endif %}
</html>